@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

section{
    padding: 50px 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h1~p {
    margin: 28px 0 46px;
    line-height: 28px;
}

.button {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 14px 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}