body {
    display: flex;
    justify-content: center;
}

.hero {
    background: url(../images/bg-hero-desktop.svg) no-repeat;
    background-size: 100% 100%;
    background-color: var(--very-pale);
}

.header {
    margin-bottom: 60px;
}

.header .logo {
    height: 28px;
}

.header .button.try {
    background-color: hsl(0, 0%, 100%);
    padding: 12px 56px;
}

.hero img {
    max-height: 455px;
}

.you-can {
    margin: 100px 0;
}

.you-can>div {
    height: 410px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 40px 16px;
    padding: 0 30px 0 110px;
}

.you-can>div:nth-child(2) {
    flex-direction: row-reverse;
}

.you-can p {
    color: var(--grayish);
}

.you-can img {
    height: 300px;
}

.build-your-community {
    position: relative;
    margin-top: 300px;
    /* background-color: aqua; */
}

.build-your-community div {
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 740px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    gap: 0;
    padding: 50px 0;
}

.build-your-community h3 {
    font-size: 3.2rem;
}

.build-your-community .button.started {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    padding: 24px 90px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}